html {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #4c4c4c;
    height: 100%;
    overflow: auto;
    padding: 2em 0 0 0;
}

a {
    color: #333;
}
a:hover, a:active, a:link {
    text-decoration: none;
}
a img {
    margin: -0.2em 0.5em 0 0;
}

.footer a {
    color: #aaa;
}
.footer a:hover {
    color: #ddd;
}

.icon {
    height: 1rem;
}

.card {
    background-color: #fcfcfc;
    margin-bottom: 1em;
    min-height: 3em;
}

.card .card-title {
    margin: 0;
}

.card .list-group {
    margin-bottom: 1rem;
}

.card .list-group-item {
    border: none;
    padding: 0;
}

.card .list-group-item a {
    width: 100%;
    padding: 0.5rem 1.25rem;
}
.card .list-group-item a:hover {
    background-color: #ccdfff;
    color: #333;
}

.card .btn-group {
    margin-left: 1em;
}

#add-menu {
    background-color: #fff;
    position: absolute;
    width: 15rem;
}

.btn:focus {
    box-shadow: none !important;
}
