html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    padding: 2em 0 0 0;
    color: #333;
    background: linear-gradient(
        0deg, 
        rgba(0, 48, 180, 0) 20%, 
        rgba(0, 48, 180, 0.1) 20%, 
        rgba(0, 48, 180, 0.1) 40%, 
        rgba(0, 48, 180, 0.2) 40%, 
        rgba(0, 48, 180, 0.2) 60%, 
        rgba(0, 48, 180, 0.4) 60%, 
        rgba(0, 48, 180, 0.4) 80%, 
        rgba(0, 48, 180, 0.6) 80%
    ), 
    linear-gradient(-90deg, 
        rgba(0, 48, 180, 0) 20%, 
        rgba(0, 48, 180, 0.1) 20%, 
        rgba(0, 48, 180, 0.1) 40%, 
        rgba(0, 48, 180, 0.2) 40%, 
        rgba(0, 48, 180, 0.2) 60%, 
        rgba(0, 48, 180, 0.4) 60%, 
        rgba(0, 48, 180, 0.4) 80%, 
        rgba(0, 48, 180, 0.6) 80%
    ), 
    rgb(7, 197, 0);
    background-position: auto auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 100% 100%;
}

a {
    color: #333;
}
a:hover, a:active, a:link {
    text-decoration: none;
}

img {
    margin: -0.2em 0.5em 0 0;
    height: 1rem;
}

.footer a {
    color: #ddd;
}
.footer a:hover {
    color: #fff;
}

.icon {
    height: 1rem;
}

.card {
    background-color: #fcfcfc;
    margin-bottom: 1em;
    min-height: 3em;
}

.card .card-body {
    background-color: rgb(243, 243, 243);
}

.card .card-title {
    margin: 0;
}

.card h5.card-title {
    color: #56617f;
    font-size: 1.15rem;
}

.card .list-group-item {
    border: none;
    padding: 0;
    word-break: break-all;
}

.card .list-group-item a {
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 1.25rem;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}
.card .list-group-item a:hover {
    background-color: #ccdfff;
    color: #333;
}

.card .btn-group {
    margin-left: 1em;
}

.card-config {
    cursor: move;
}

#weather-container {
    margin-top: 0.5rem;
}

#weather-zip {
    margin-left: 0.5rem;
    text-align: center;
    width: 4rem;
}

#add-menu {
    background-color: #fff;
    position: absolute;
    width: 15rem;
}

#select-bookmark-folder {
    font-size: 0.8rem;
    width: 140px;
    height: 28px;
    border-color: #eee;
    outline: none;
}

.btn:focus {
    box-shadow: none !important;
}

.card-block div.btn-group button.btn{
    cursor: pointer;
}